.git
.gitlab
.gitlab-ci-local
.gitlab-ci.yml

node_modules
vendor
var
.phpunit.cache
.idea
.vscode

tests
docs

.env
.env.local
.env.*.local

docker-compose.yml
docker-compose.*.yml
compose.yaml
compose.override.yaml

.gitlab-ci-local-variables.yml
scripts/ci
